<!DOCTYPE html>
<html>

	<head>
		<title>[TITLE] by [AUTHOR]</title>
		<link rel="stylesheet" type="text/css" href="crimson-text.css" />
		<link rel="stylesheet" type="text/css" href="raleway.css" />
		<link rel="stylesheet" type="text/css" href="normalize.css" />
		<link rel="stylesheet" type="text/css" href="skeleton.css" />
		<link rel="stylesheet" type="text/css" href="style.css" />
		<link rel="icon" type="image/png" href="favicon.png" />
	</head>

	<body>

		<div class="container">

			<header class="row">
				<div class="image">
					<a href="index.html">[COVER]</a>
				</div>
				<h1>[TITLE]</h1>
				<p>By [AUTHOR], Release [RELEASE] - [YEAR]</p>
			</header>

			<nav class="row">
				<ul>
					[AUXILIARY]
				</ul>
				<p class="download">
					[DOWNLOAD]
				</p>
			</nav>

			<main class="row">
				<p>[BLURB]</p>
				<p>
					[TITLE] was created with <a href="http://inform7.com/">Inform</a> and
					has IFID [IFID].
				</p>
			</main>

			<footer class="row">
				Iridium &copy; 2017 Igor Padoim
			</footer>

		</div>

	</body>

</html>
